##DataBase Configurations##
DB_HOST={{DB_HOST}}
DB_PORT={{DB_PORT}}
DB_USER={{DB_USER}}
DB_PASSWORD={{DB_PASSWORD}}
DB_NAME={{DB_NAME}}
DB_PROVIDER={{DB_PROVIDER}}
DB_URL="${DB_PROVIDER}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

##Project configurations##

#Port
APP_PORT=3000

#Default behaviour for use of transactions
USE_TRANSACTION=true

#Session secret
SESSION_SECRET="{{SESSION_SECRET}}"

#Cookie name for the session token
SESSION_COOKIE_NAME="{{SESSION_COOKIE_NAME}}"

#Expiration time for the session token in seconds
SESSION_TTL=86400

# JWT expiration times
JWT_EXPIRES_IN=10d
JWT_REFRESH_EXPIRES_IN=1y

# JWT
JWT_SECRET="{{JWT_SECRET}}"
JWT_REFRESH_SECRET="{{JWT_REFRESH_SECRET}}"